torch==2.1.2
torchvision==0.16.2
transformers==4.37.2
git+https://github.com/nikhil-ghosh-berkeley/peft.git@loraplus#egg=peft
datasets==2.17.0
evaluate==0.4.1
wandb==0.16.3
tensorboard==2.16.2
scipy==1.12.0
scikit-learn==1.4.1.post1
fire==0.5.0